app-root {
    display: flex;
}

.logo {
    margin-left: 40px;
}

html {
    background: lightblue;
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
}

button {
    cursor: pointer;
    background-color: black;
    color: lightblue;
    border: none;
    padding: 10px 10px;
}